
@{
    ViewData["Title"] = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>TEST ICIN ACILDI BU VİEW LAYOUT VAR  ICERISINDSSE</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Adı</th>
        <th>Departman</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Mehmet</td>
        <td>Yazılım</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Ayşe</td>
        <td>Makine</td>
    </tr>
</table>
